body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.label {
    font-weight: bold;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: #333;
    color: #fff;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h3 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.widget {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.widget h2 {
    margin-top: 0;
}
.widget p {
    margin-bottom: 0;
}
#bar p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000; 
    font-weight: bold;
}
#bar {
    box-sizing: border-box;
    width: 100%;
    background-color: #dedede;
}
#filled { 
    text-align: right;
    padding: 5px 0;
}
#stampsText {
    margin: 0 0 10px;
}