body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.label {
    font-weight: bold;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: #333;
    color: #fff;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h3 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.widget {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.widget h2 {
    margin-top: 0;
}
.widget p {
    margin-bottom: 0;
}
#bar p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000; 
    font-weight: bold;
}
#bar {
    box-sizing: border-box;
    width: 100%;
    background-color: #dedede;
}
#filled { 
    text-align: right;
    padding: 5px 0;
}
#stampsText {
    margin: 0 0 10px;
}
#logout {
    position: absolute;
    bottom: 1.25rem;
}
#logoutModal, #passwordModal, #confirmClose, #dzModal, #dz, #delUserModal, #lbOverlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#modalContent, #confCloseContent, #dzContent, #dzContainer, #delUserCont, #lbContainer {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
}
.cross {
    color: #aaa;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.cross:hover, #cross:focus {
    color: black;
    text-decoration: none;
}
#confirm, #cancel, .yes, .no {
    transition: 0.3s ease;
    width: 85px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
#confirm, .yes {
    background-color: #4CAF50;
}
#cancel, .no {
    background-color: #f44336;
}
#confirm:hover, .yes:hover {
    background-color: #6EC071;
}
#cancel:hover, .no:hover {
    background-color: #F55145;
}
#confMsg, #dangerText {
    font-size: 22px;
    margin: 5px;
    padding-bottom: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
#passwordContainer { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#old, #new, #conf {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#submit, #changePass, #leaderboard, .lbBtn {
    background-color: #fff;
    color: #00A09A;
    border: 2px solid #00A09A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#submit:hover, #changePass:hover, #leaderboard:hover, .lbBtn:hover {
    background-color: #00A09A;
    color: #fff;
}
#submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
#changePass {
    width: 200px;
    height: 30px;
}
#cancelPass {
    top: 5px;
    right: 10px;
}
#passwordStrength {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
#passwordResponse {
    margin-bottom: 7.5px;
    margin-block-start: 0px;
}
#conf, #submit, #confLabel {
    display: none;
}
#passwordForm {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#passwordForm label {
    font-weight: bold;
}
#passwordForm input {
    margin-bottom: 15px;
}
.green {
    color: #006800;
}
.red {
    color: #B30000;
}
.fullOpacity {
    opacity: 1;
    transition: opacity 3s ease;
}
.fadeout {
    opacity: 0;
}
#management a {
    display: block;
    font-weight: 550;
    text-decoration: none;
    color: #004400;
    display: block;
    margin-bottom: 7.5px;
}
#management a:hover {
    color: #006600;
}
#management h2 {
    margin-bottom: 10px;
}
#dangerZone {
    padding-top: 20px;
    display: inline-block;
    width: auto;
}
#dangerZone h2, #dangerZone h3 {
    width: auto;
    margin-top: 0;
    margin-bottom: 10px; 
}
#dangerZone a {
    color: #800000;
}
#dangerZone a:hover, #dangerZone h3 {
    color: #B30000;
}
#moveUpBtn {
    width: 150px;
    margin-right: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#editClassForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}
#editClassForm button[type="submit"]:hover {
    background-color: #0056b3;
}
.form-group {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead th {
    background-color: #333;
    color: #fff;
    padding: 12px 0;
    text-align: left;
}
tbody td, thead th {
    border: 1px solid #ddd;
    padding: 10px;
}
tr:nth-child(odd) {
    background-color: #f3f3f3;
}
tr:hover {
    background-color: #ddd;
}
td {
    cursor: pointer;
}
#back {
    width: 140px;
    height: 30px;
    position: absolute;
    top: 95%;
    right: 1%;
    margin: 10px auto;
    text-align: center;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}
#back:hover, #back:focus {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}
#delUserModal {
    z-index: 2;
}
#delUsr {
    margin-right: 5px;
}
.selection {
    margin-right: 5px;
    width: 100px;
    height: 30px;
    max-width: 200px;
    margin-top: 2.5px;
    text-align: center;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}
.lbBtn {
    max-width: 5;
    width: 12.5rem;
    height: 2rem;
    margin: 0.19rem 0;
}
.selection:hover {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}
#leaderboard {
    width: 100px;
    height: 30px;
    margin-top: 0.5rem;
}
#sel {
    background-color: #ee82ee;
}
#gold {
    background-color: #ffd700;
}
#silver {
    background-color: #c0c0c0;
}
#bronze {
    background-color: #CF853A;
}
@media only screen and (max-width: 660px) {
    .container {
        display: block;
    }
    .sidebar {
        width: 100%;
        padding-bottom: 0.2rem;
    }
}
@media only screen and (max-width: 450px) {
    .yearLb {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .tutorLb {
        display: none;
    }
}
