body {
    font-size: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.studentcontainer {
    position: absolute;
    top: 28rem;
    left: 33rem;
    align-items: center;
}
.staffcontainer {
    position: absolute;
    top: 32rem;
    left: 33rem;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: #0055ff;
}
#back {
    width: 140px;
    height: 30px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}
#back:hover, #back:focus {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}